[Unit]
Description=biliup live recorder

[Service]
WorkingDirectory=/data
Type=forking
ExecStartPre=rm -f /data/watch_process.pid
ExecStart=biliup --config config.yaml start
Restart=always

[Install]
WantedBy=multi-user.target
